{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block body %}
    <h1>Todo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.state ? 'Yes' : 'No' }}</td>
                <td class="d-flex justify-content-center">
                    <a class="btn btn-success me-2" role="button" href="{{ path('todo_show', {'id': todo.id}) }}">show</a>
                    <a class="btn btn-warning me-2" role="button" href="{{ path('todo_edit', {'id': todo.id}) }}">edit</a>
                    {# <a class="btn btn-danger" role="button" href="{{ path('todo_delete', {'id': todo.id}) }}" onclick="return confirm('Are you sure you want to delete this item?')">delete</a> #}
                    {# <a class="btn btn-danger" role="button" href="{{ path('todo_delete', {'id': todo.id}) }}" onclick="return confirm('Are you sure you want to delete this item?')">delete</a> #}
                    <form method="post" action="{{ path('todo_delete', {'id': todo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todo.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('todo_new') }}">Create new</a>
{% endblock %}
