{% extends 'base.html.twig' %}

{% block title %}Todo{% endblock %}

{% block body %}
    <h1>Todo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ todo.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ todo.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ todo.description }}</td>
            </tr>
            <tr>
                <th>Done</th>
                <td>{{ todo.state ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    {# <a href="{{ path('todo_index') }}">back to list</a> #}   
    <div class="d-flex justify-content-start w-25">
        <a class="btn btn-primary me-4" role="button" href="{{ path('todo_index') }}">
            <i class="bi bi-arrow-left-square"></i>  Back to list
        </a>

        <a class="btn btn-warning me-4" href="{{ path('todo_edit', {'id': todo.id}) }}">Edit</a>

        {{ include('todo/_delete_form.html.twig') }}
    </div>
{% endblock %}
